{% extends "base.html" %}

{% block content %}
    <section style="background:rgb(209, 162, 162); padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.05);">
        <h2 style="color: #0077cc;">🔍 Prediction Result</h2>

        <p style="font-size: 1.2em;">
            The uploaded garbage was classified as:
            <strong style="color: #333;">{{ result }}</strong>
        </p>

        <p>
            🪙 Remaining tokens: <strong>{{ tokens }}</strong>
        </p>

        <a href="/" style="display: inline-block; margin-top: 15px; background: #0077cc; color: black; padding: 10px 15px; border-radius: 6px; text-decoration: none;">
            🔁 Classify another image
        </a>
    </section>
{% endblock %}
